<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>

        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <div x-data="mapApp()" x-init="init()">
            <div id="map-container">
                <svg id="map" width=1024 height=720></svg>
            </div>
        </div>

        <script>
            function mapApp() {
                return {
                    data: [],
                    width: 1024,
                    height: 720,
                    async init() {
                        this.svg = d3.select("#map")
                        this.g = this.svg.append("g")
                        
                        this.zoom = d3.zoom()
                            .scaleExtent([-12,12])
                            .on("zoom", (event) => this.g.attr('transform', event.transform));
                        this.svg.call(this.zoom);

                        await this.fetchData();
                        this.drawMap();
                    },
                    async fetchData() {
                        const res = await fetch("/api/features?bbox=12,48,19,59&granularity=orp&series=pocet-obyvatel&time=2021-01-01&zoom=8")
                        this.data = await res.json()
                        console.log(`data has ${this.data.features.length} features`)
                    },
                    drawMap() {
                        this.projection = d3.geoMercator().fitSize([this.width, this.height], this.data)
                        this.path = d3.geoPath().projection(this.projection)
                        this.g.selectAll("path")
                            .data(this.data.features)
                            .join("path")
                            .attr("d", this.path)
                            .attr("fill", d => this.colourByData(d))
                            .attr("stroke", "black")
                            .on("click", (event, d) => this.clickFunction(event, d));
                    },
                    colourByData(feature) {
                        const scale = d3.scaleSequential(d3.interpolateBlues).domain([0,2500000])
                        return feature.properties.value ? scale(feature.properties.value) : "#999"
                    },
                    clickFunction(event, d) {
                        console.log(`Clicked on element ${d.properties.id}`)
                        const [[x0, y0],[x1,y1]] = this.path.bounds(d);
                        event.stopPropagation();
                        this.svg.transition().duration(750).call(
                            this.zoom.transform,
                            d3.zoomIdentity
                            .translate(this.width/2, this.height/2)
                            .scale(Math.min(8, 0.9 / Math.max((x1 - x0) / this.width, (y1 - y0) / this.height)))
                            .translate(-(x0 + x1) / 2, -(y0 + y1) / 2),
                            d3.pointer(event, this.svg.node())
                        );
                    },
                    function resetZoom() {
                        this.svg.transition().duration(750).call(
                            this.zoom.transform,
                            d3.zoomIdentity,
                            d3.zoomTransform(this.svg.node()).invert([this.width / 2, this.height / 2])
                        );
                    }

                }
            }

        </script>
    </body>
</html>
